.card {
  width: 300px;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}

.card__img {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 175px;
  border-radius: 10px;
}

.card__span {
  cursor: pointer;
  font-size: 11px;
  position: absolute;
  background-color: white;
  top: 10px;
  left: 10px;
  padding: 3px 7px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in;
  user-select: none;
  border-radius: 4px;
}

.card-int {
  padding: 20px 0 0 0;
}

.card-int__title {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #000;
}

.card-description {
  font-size: 14px;
  color: #000000c0;
}

.postcard-btn {
  padding: 6px 16px;
  background-color: #9979f5;
  color: white;
  border-radius: 5px;
  border: none;
}

.postcard-btn:hover {
  background-color: #aa8ffc;
}
