#footer-container {
  width: 100%;
  background-color: #9979f5;
  padding: 30px 0px;
  margin: 0 auto;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
}

.footer-subcontainer {
  width: 1250px;
  max-width: 1250px;
}

.footer-titles {
  font-weight: 600;
  color: #fff;
  padding-bottom: 12px;
  font-size: 28px;
}

p {
  color: #fff;
}
