.postdetails-container {
  width: 100vw;
  min-height: 600px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0px;
  padding: 0px 0px 40px 0px;
}

.postdetails-img {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}

.info-container,
.comment-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  padding-top: 20px;
}

.info-container h3 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 20px;
}

.info-container h6 {
  padding: 12px 24px;
  color: rgb(194, 13, 239);
  background-color: rgb(238, 199, 255);
  border: 1px solid #e47aff;
  width: fit-content;
  border-radius: 50px;
  margin-left: 20px;
}

.info-container p {
  padding-left: 20px;
}

.btns-container {
  display: flex;
  gap: 12px;
  padding-left: 20px;
}

.comment-container {
  padding-left: 20px;
}

.commentInput-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 14px;
}

.commentInput-container button {
  width: 120px;
  height: 50px;
}

.commentList-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.commentList-container .comment-card {
  width: 90%;
  height: fit-content;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
}

.commentList-container .comment-card :nth-child(1) {
  font-style: italic;
}
